.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.temp
*.sqlite3

.vscode/
.idea/
*.code-workspace

migrations/__pycache__/
migrations/versions/__pycache__/

*.pid
*.swp

~$*.docx
~$*.xlsx
htmlcov/
.coverage

test.db

*.pid
*.log